# {{ ansible_managed }}


view interne {
	match-clients { {{bind_view_interne}}; };
	recursion yes;
	allow-query { {{bind_view_interne}}; };
{% if bind_forwarder  is defined %}
	forwarders { {{ bind_forwarder }}; };
{% endif %}

{% for zone, value in bind_zones_interne.iteritems() %}
	zone "{{ zone }}" IN {
		type master;
	{% if 'dnssec' in value and value.dnssec %}
		file "/etc/bind/zones/interne/db.{{ zone }}.signed";
	{% else %}
		file "/etc/bind/zones/interne/db.{{ zone }}";
	{% endif %}
	{% if 'allow_transfer' in value and value.dnssec %}
		allow-transfer {
	{% for ip in value.allow_transfer %}
		{{ ip }};
	{% endfor %}
	};
	{% endif %}
	};
{% endfor %}
};


view externe {
	match-clients { {{bind_view_externe}}; };

{% for zone, value in bind_zones_externe.iteritems() %}
	zone "{{ zone }}" IN {
		type master;
	{% if 'dnssec' in value and value.dnssec %}
		file "/etc/bind/zones/externe/db.{{ zone }}.signed";
	{% else %}
		file "/etc/bind/zones/externe/db.{{ zone }}";
	{% endif %}
	{% if 'allow_transfer' in value and value.dnssec %}
		allow-transfer {
	{% for ip in value.allow_transfer %}
		{{ ip }};
	{% endfor %}
	};
	{% endif %}
	};
{% endfor %}
};
